beautifulsoup4==4.12.3
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cssselect2==0.7.0
defusedxml==0.7.1
greenlet==3.1.1
idna==3.10
pillow==11.0.0
playwright==1.49.1
pycparser==2.22
pyee==12.0.0
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
requests==2.32.3
soupsieve==2.6
tinycss2==1.4.0
typing_extensions==4.12.2
urllib3==2.3.0
webencodings==0.5.1
